{% extends "base.html" %}

{% block page_header %}Scoreboard{% endblock %}

{% block content %}   
    <table class="table table-striped table-hover table-responsive">
    <thead>
      <th>#</th><th>Team name</th><th>Score</th>
    </thead>
    {% for team in teams %}
        {% if team.score or show_zeros %}
            <tr>
                <td width=50>{{forloop.counter}}</td><td class="team-name"><a href="{{ team.get_absolute_url }}">{{ team.name }}</a></td><td class="team-score">{{ team.score|default_if_none:'0'}}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
{% endblock %}
